<!DOCTYPE html>
<html>
<head>
  <title>PersonnelWeb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "style"%>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.jcarousel.pack","jquery-func"  %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page" class="shell">
	<!-- Logo + Search + Navigation -->
	  <div id="top">
			  <div class="cl">&nbsp;</div>
		  </form>
		  <div class="cl">&nbsp;</div>
		  <div id="navigation">
			  <ul>
			      <li><a href="#" class="active"><span>home</span></a></li>
			      <li><a href="#"><span>about us</span></a></li>
			      <li><a href="#"><span>services</span></a></li>
			      <li><a href="#"><span>solutions</span></a></li>
			      <li><a href="#"><span>support</span></a></li>
			      <li><a href="#"><span>partners</span></a></li>
			      <li><a href="#"><span>contact</span></a></li>
			  </ul>
		  </div>	
	  </div>
<%= yield %>
	<!-- END Header -->
	<!-- Main -->

	<!-- END Main -->
	<!-- Footer -->
	<div id="footer">
		<p class="right">&copy; 2012 - Dr. Sujit Shukla &nbsp; Design by <a href="http://chocotemplates.com" target="_blank" title="The Sweetest CSS Templates WorldWide">Ranjeet Maurya</a></p>
		<p><a href="#">Home</a><span>&nbsp;</span><a href="#">About Us</a><span>&nbsp;</span><a href="#">Services</a><span>&nbsp;</span><a href="#">Solutions</a><span>&nbsp;</span><a href="#">Support</a><span>&nbsp;</span><a href="#">Partners</a><span>&nbsp;</span><a href="#">Contact</a></p>
		<div class="cl">&nbsp;</div>
	</div>
	<!-- END Footer -->
	<br />
</div>


</body>
</html>
